@{
    ViewData["Title"] = "Result Page";
}
<div>
<h3>Name: @Model.Name</h3>
</div>
<div>
<h3>Dojo Location: @Model.DojoLocation</h3>
</div>
<div>
<h3>Favorite Language: @Model.FavoriteLanguage</h3>
</div>
<div>
<h3>Comment: @Model.Comment</h3>
</div>